@import '../components/styles';

.home {
  margin-top: 4rem;

  .moreProjects {
    font-size: 1.5rem;
    display: grid;
    justify-self: center;
    justify-items: center;

    a {
      text-align: center;
      margin: 1rem;
      margin-top: 4rem;
      @include themedTagA();
    }
  }
}
