@import '../components/styles';

.newsCard {
}

.showmoreButton {
  align-self: center;
  font-size: 1em;
  text-align: center;
  margin: 1rem;
  padding: 1rem;
  $underlineColor: $accentColorIdle;
  text-decoration: none;
  border: none;
  background-color: transparent;
  background-color: $accentColorIdle;
  color: white;
  @include basicTransition();
  &:hover {
    outline: 0;
    @include basicTransition();
    cursor: pointer;
    background-color: $accentColor;
    // background-color: $accentLight;
  }

  &:visited {
    text-decoration: none;
    color: inherit;
  }

  &:active,
  &:focus {
    outline: 0;
    -moz-outline-style: none;
  }
}
