---
---

@import "minima";

html {
  font-size: 0.9rem;
}
$blackLink: #4c4c4c;

@mixin breakpoint($class) {
  @if $class == small {
    @media (max-width: 61em) { @content; }
  }
  @else if $class == normal {
    @media (min-width: 61em) { @content; }
  }
  @else {
    @warn "Breakpoint mixin supports: small, normal";
  }
}

@mixin badassTransition() {
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.Separator {
  $color : gray;
  background-color: $color;
  border: none;
  height: 3px;

  width: 50px;
  display: flex;
  align-self: center;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}


.welcomeBand {

  /* dirty fix */
  width: 100vw;
  text-align: center;

  box-shadow: inset 0 0 20px 9px #000000;
  transition: opacity 1.5s ease;
  font-weight: 600;
  color: white;
  border-radius: 4px;
  margin: 0 auto;
  background-image: url('/assets/landing.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  .overlay {
    background-color: rgba(39, 39, 39, 0.9);
    @include breakpoint(normal) {
      padding: 10rem;
    }
    @include breakpoint(small) {
      padding-left: 1rem;
      padding-right: 1rem;
    }

    padding-bottom: 10rem;
    padding-top: 10rem;
    .punchline {
      animation: fadein 1s;
      font-size: 4rem;
      padding-bottom: 1rem;
      color: rgba(255,255,255, 0.95);
      /*border-bottom: 2px solid rgba(255,255,255, 0.8);
      margin-bottom: 3rem;*/
    }
    .subtext {
      animation: fadein 1s;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.8em;
      color: rgba(255,255,255, 0.9);

      strong {
        color: white;
        font-size: 1.1em;
      }
    }

    hr {

      margin: auto;
      margin-top: 1.5em;
      margin-bottom: 1.5em;
      max-width: 50em;
      text-align: center;
    }

  }


}

.Layout {

  &LeftBarContentFooter {
    width: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    grid-gap: 0px;
    grid-template-areas: "nav nav" "content content" "content content" "footer footer";
    justify-items: center;

    .leftBar {
      justify-self: stretch;
      grid-area: nav;
      text-align: right;
      padding-top: 2rem;
      padding-bottom: 2rem;
    }

    .content {
      grid-area: content;
    }

    .footer {
      grid-area: footer;
      display: flex;
      flex-order: column;
      align-items: flex-end;
      justify-content: center;
    }
  }
}


.style {

  &MaterialButton {
    fill: rgba(255,255,255,0.7);
    background-color: rgba(0,0,0,0.7);
    padding: 0.4em;
    border-radius: 100%;
    width: 2em;
    height: 2em;

    &:hover {
      fill: white;
      background-color: black;
      cursor: pointer;
      animation: all 1s ease-out;
    }

  }

  &Footer {
    padding-top: 3em;
    font-size: 0.8em;
    line-height: 1.4em;

    p {
      text-align:center;
      color:dimgray;
    }

    .socialLinks {
      padding-left: 1em;
      padding-right: 1em;
      display: flex;
      flex-direction: column;
      margin-top: 3em;




      .social-media-list {
        display: flex;
        flex-direction: row;
        font-size: 1em;
        justify-content: center;

        .socialIcon {

          .svg-icon {
            width: 30px;
            height: 30px;
            margin-left: 10px;
            margin-right: 10px;
            margin-top: 20px;
            margin-bottom: 20px;

            path {
              fill: rgb(200,200,200);
              transition: all 0.2s ease-in;
            }
            transition: all 0.2s ease-in;

            &:hover {
              transition: all 0.1s ease-in;
              /*width: 40px;
              height: 40px;
              margin-left: 5px;
              margin-right: 5px;
              margin-top: 10px;*/

              path {
                fill: gray;
                transition: all 0.1s ease-in;
              }
            }
          }
        }
      }
    }
  }

  &Content {

    .header {
      display:flex;
      flex-direction: column;
    }

    background-color: transparent;
    border-top: 0;
    //padding: 1em;
    padding-bottom: 4em;
    @include breakpoint(small) {
      padding-left: 0em;
      padding-right: 0em;
      padding-top: 1em;
      border: none;
    }
  }

  &Navbar {

    text-align: center;
    .header-subtitle {

      padding: 1em;
      @include breakpoint(small) {
        padding: 0.5em;
      }
      font-size: 1.1em;
      font-weight: 600;
      color: gray;
      margin-bottom: 2em;
      padding-top: 1em;
    }

    .header-title {

      padding: 2em;
      @include breakpoint(small) {
        padding: 1em;
      }
      a {
        @include breakpoint(small) {
          font-size: 2em;
          margin-top: 2em;
        }
        margin-bottom: 2em;
        transition: all 0.2s ease;
        color: dimgray;
        font-size: 2.5em;
        font-weight: 600;

        &:hover {
          transition: all 0.4s ease;
          text-decoration: none;
        }
      }

    }

    .headerLinks {

      $activeColor : rgb(50,50,50);
      $idleColor: #919191;

      @include breakpoint(small) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
      }

      @include breakpoint(normal) {
        display: flex;
        flex-direction: row;
        justify-content: center;
      }
      margin-right: 2em;
      margin-left: 2em;

      .active {
        color: $activeColor;
        /*background-color: #4e4e4e;*/

        font-weight: 900;
      }



      a {
        padding: 0.8em;
        margin: 0;
        margin-right: 2em;
        margin-left: 2em;
        color: $idleColor;
        font-size: 1.2em;
        border: solid 2px transparent;

        &:hover {
          color: $activeColor;
          text-decoration: none;
          cursor: pointer;
          text-underline-position: under;
          text-decoration: underline;
        }


        @include breakpoint(normal) {
          text-align: right;
        }
        @include breakpoint(small) {
          text-align: center;
        }
      }
    }
  }
}


body {
  background-color: rgb(240,240,240);
  font: 1em -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",Arial,sans-serif
}


.page-heading {
  font-size: 2.5em;
  color: rgb(100,100,100);
  text-align: center;
  padding-bottom: 0.3em;
  padding-top: 1em;
}


.Page {

  .card {
    background-color: rgb(250,250,250);
    border-radius: 4px;
    border: 3px solid rgba(200, 200, 200, 0.5);

    @include breakpoint(normal) {
      width: 50rem;
    }
    @include breakpoint(small) {
      min-width: 90vw;
    }


    .cover {
      height: 30em;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;

      .title {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: white;
        font-size: 2em;
        text-align: center;

        span {
          background-color: rgba(0,0,0,0.7);
          box-decoration-break: clone;
          padding: 0.4em;
          margin: 0.4em;
        }
      }

      hr {
        $color : white;
        background-color: $color;
        border-color: $color;
        height: 1px;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        width: 3em;
        display: flex;
        align-self: center;
        flex-direction: column;
      }
    }
  }

  .article {
    padding: 2em;

    @include breakpoint(small) {
      padding-left: 0.4em;
      padding-right: 0.4em;
      padding-top: 2em;
      padding-bottom: 2em;
    }
  }

  .meta {
    text-align: center;
  }

  .header {
    margin-bottom: 2em;
    text-align: center;
  }

  .content {
    text-align:justify;

    p {
      @include breakpoint(small) {
        padding: 0.4em;
      }

    }
  }
  .content-header-wrapper {
    border: solid 1px dimgray;
    border-top: 0;
  }


  $header-padding: 2em;
  .site-header {
    background-color: rgb(230,230,230);
    border-top: 0;
    padding-top: 2em;
    padding-bottom: $header-padding;
    margin-bottom: $header-padding;
  }


  .page-content {
    min-height: 65vh;
    padding-bottom: 5em;
  }

  hr {
    $color : $blackLink;
    background-color: $color;
    border-color: $color;
    height: 1px;
    margin-top: 1em;
    margin-bottom: 1em;
    width: 250px;
    display: flex;
    align-self: center;
    flex-direction: column;
    margin-bottom: 1em;
  }

  ul {
    padding: 0;
    margin-left: 1em;
    font-size: 1em;
  }

  h1 {
    font-size: 2.4em;
  }
  h2 {
    font-size: 1.8em;
  }
  h3 {
    font-size: 1.5em;
  }
  h4 {
    font-size: 1.1em;
    font-weight: 600;
    margin: 0;
    margin-bottom: 0.4em;
  }



  .videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
  }
  .videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .audioWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
  }
  .audioWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70%;
  }

  ul {
    color: rgb(50,50,50);
    list-style-type: none;
    margin-left: 0;
  }
}


.homePosts {
  .postGrid {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 100%;
    width:100%;
  }

  .moreProjects {
    font-size: 1.5rem;
    display: grid;
    justify-self: center;
    justify-items: center;
    a {
      text-align: center;
      margin: 1rem;
      margin-top: 4rem;
      color: gray;
    }

  }

  .spotlight {
    margin-top: 2em;
    text-align: center;

    .title {
      font-size: 2em;
      padding-bottom: 0.2em;
      padding-top: 0.2em;
    }

    .description {
      font-size: 1em;
      margin: 1em;
    }

    .videoWrapper {
      position: relative;
      padding-bottom: 56.25%; /* 16:9 */
      padding-top: 25px;
      height: 0;
    }

    .videoWrapper iframe {
      position: absolute;
      top: 0;
      left: 10%;
      width: 80%;
      height: 80%;

      @include breakpoint(small) {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }

  }

  .post {

    @include breakpoint(small) {
      margin: 0;
      width: 100%;

    }
    @include breakpoint(normal) {
      margin: 2em;
      width: 40%;
      max-width: 50em;
    }

    background-color: rgb(252,252,252);
    border-radius: 4px;
    border: 4px solid rgba(200,200,200,0.5);
    transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), padding 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      border: 4px solid rgba(200,200,200,1);
      transition: border 0.5s ease-out;
      cursor: pointer;
      transform: translateY(-4px);
      transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), padding 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

  }

  $backgroundText: rgba(0,0,0,0.7);

  .postTitle {
    font-size: 2em;
    color: white;
    font-weight: 600;
    padding: 0.5em;
    background-color: $backgroundText;
    box-decoration-break: clone;
    margin-bottom: 0.3em;
  }

  .postDate {
    font-size: 0.8em;
    color: white;
    background-color: $backgroundText;
    box-decoration-break: clone;
    padding: 1em;
  }

  .postTag {
    font-size: 1em;
    color: white;
    font-weight: 600;
    background-color: $backgroundText;
    box-decoration-break: clone;
    padding: 0.5em;
    opacity: 0.8;
  }

  .postHeader {

    @include breakpoint(normal) {
      min-height: 20em;
    }
    @include breakpoint(small) {
      min-height: 14em;
    }

    padding: 2em;
    margin: 0;
    background-color: #cbcbcb;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    display: grid;
    align-content: start;
    justify-content: start;



    .inside {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      align-self: center;

      opacity: 0.4;
      @include badassTransition();
      @include breakpoint(small) {
        opacity: 1;
      }

    }

    &:hover {
      .inside {
        @include badassTransition();
        opacity: 1;
      }
    }


  }

  .postContent {
    padding: 1em;
  }
}
