// Override bit style variables here
//$backgroundColorForText: rgb(240,240,240);//#fafafa;

$blackLink: #4c4c4c;
$backgroundColorForText: #fafafa;
$backgroundColor: rgb(240, 240, 240);
$navbarColor: rgb(240, 240, 240);
$accentColor: #800f2f; //#3568cf;
$accentColorIdle: #800f2f; //#ff4d6d;//rgb(77, 102, 153);
$colorIdle: #919191;
$colorUnselected: rgb(200, 200, 200);
