---
layout: default
---



<div class="welcomeBand">
  <div class="overlay">
    <div class="punchline">Maxime Touroute</div>

    <div class="subtext">
      <p><strong>Film maker</strong></p>
    </div>
  </div>
</div>

<div class="home homePosts">
  <div class="spotlight">
    <h2 class="page-heading">Spotlight</h2>
    <hr class="Separator"/>
    <div class="title"><em>Rainy Day</em></div>
    <div class="description"><em>Experimental video made from still photographies</em></div>
    <div class="videoWrapper" style="text-align:center">
      <iframe src="https://player.vimeo.com/video/263371046" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>

  <div class="moreProjects">
    <a  href="/work">More projects</a>
  </div>

</div>
