@import '../components/styles';

.CssGrid {
  &NavContentFooter {
    width: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    grid-gap: 0;
    grid-template-areas: 'nav nav' 'content content' 'content content' 'footer footer' 'navBottom navBottom';

    justify-items: stretch;

    .AppBar {
      justify-self: stretch;
      grid-area: nav;
      text-align: right;
      @include breakpoint(normal) {
        display: 'none';
      }
    }

    .gridNavBar {
      justify-self: stretch;
      grid-area: nav;
      text-align: right;
      padding-top: 2rem;
      padding-bottom: 2rem;
      // bottom nav menu
      @include breakpoint(small) {
        grid-area: navBottom;
        padding: 0;
        //position: sticky; TODO: use this and remove width when firefox mobile doesnt jump on scroll anymore (May 2020)
        position: fixed;
        width: 100vw;
        bottom: 0;
        z-index: 1;
      }
    }

    .gridContent {
      grid-area: content;
    }

    .gridFooter {
      grid-area: footer;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-bottom: 4rem;
    }
  }
}

.styleContent {
  background-color: transparent;
  border-top: 0;
  padding-bottom: 4em;
  @include breakpoint(small) {
    padding-left: 0em;
    padding-right: 0em;
    // padding-top: 1em;
    border: none;
  }
}
